name: taskfiles-test-actions-workflow
on:
  push:
    # # Sequence of patterns matched against refs/tags
    # tags:
    #   - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
    contents: write
    
jobs:
  build:
    strategy:
      matrix:
        os: [ windows-latest ] # , ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      
      - shell: cmd
        run: |
          .\setup.cmd

      - shell: cmd
        run: |
          echo GH_TOKEN=124 > .env

      - shell: cmd
        run: |
          ls
          
      - shell: cmd
        run: |
          .\local-run.cmd .\git-clone-own.yaml
